---
title: "Home"
date: 2022-01-25T22:08:10-05:00
draft: false
---
<div class="card contact-section bg-primary text-white">
	<img id="portrait" class="card" alt="Photo of Finian Wright" src="/images/portrait-small.jpg">
	Finian Wright
	{{< email >}}
	University of Virginia Class of 2027
</div>

<h2>Projects</h2>
<div class="grid-container">
	<!-- TerminalCraft --> 
	<!-- {{< projectCard title="TerminalCraft" description="A text based survival sandbox" btn1="Download on Itch" btn1Url="//turbowafflz.itch.io/terminalcraft" btn2="Browse the Source Code" btn2Url="//gitlab.com/TurboWafflz/TerminalCraft" >}} -->
	<!-- squiid -->
	{{< projectCard title="Squiid Calculator" description="A modular calculator written in Rust" btn1="Packages and Source Code" btn1Url="//imaginaryinfinity.net/projects/squiid/" >}}
	<!--BaboonSeeker-->
	{{< projectCard title="Baboon Seeker" description="A terrible game me and a friend have been remaking over and over again in as many programming languages as we can to learn them" btn1="Source code" btn1Url="https://gitlab.com/TurboWafflz/baboonseeker" >}}
	<!-- i-point -->
	<!-- {{< projectCard title="I-Point Driver" description="A serial driver for the I-Point presentation remote." btn1="Source Code" btn1Url="//gitlab.com/TurboWafflz/i-point_driver" >}} -->
</div>

<br>
<h2>Skills & Competencies</h2>
<div class="card">
	<div class="card-body">
		<div class="card-text">
			<ul>
				<li>Experience in:</li>
				<ul>
					<li>Python 3</li>
					<li>Rust</li>
					<li>Typst</li>
					<li>Linux</li>
				</ul>
				<li>I have also used the follwing in the past but am not as experienced with them:</li>
				<ul>
					<li>Go</li>
					<li>HTML, CSS, JavaScript</li>
					<li>LaTeX</li>
					<li>Flask</li>
					<li>OpenBSD</li>
				</ul>
			</ul>
		</div>
	</div>
</div>

<br>
<h2>Hobbies</h2>
<div class="card">
	<div class="card-body">
		<div class="card-text">
			<ul>
				<li><a href="//turbowafflz.gitlab.io/collection">Collecting and repairing vintage computing devices</a></li>
				<li>Software Development</li>
			</ul>
		</div>
	</div>
</div>
