body{
	height: 100%;
	margin-bottom: 4rem;
}
footer{
		position: fixed;
		width: 100%;
		bottom: 0px;
		left: 0;
		text-align: center;
		font-size: 0.7rem;
}
a.card, a.card:hover {
	text-decoration: none;
}
.grid-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.grid-container>*{
	margin: 0.2em;
}
.navbar-brand img{
	height: 100%;
}
.contact-section{
	text-align: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}
#portrait{
	width: 100%;
	max-width: 20rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: .25rem;
}
.footer-card{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}