You aren't really supposed to be here, but here are the pages you're probably looking for:
<ul>
	<li><a href="brvgsPaper.pdf">Paper</a></li>
	<li><a href="bibliography.pdf">Bibliography</a></li>
</ul>
