<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Finian Wright</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<!-- <li class="nav-item">
					<a class="nav-link" aria-current="page" href="/">Home</a>
				</li> -->
				<!-- <li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li> -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						My Other Places on the Internet
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="//gitlab.com/TurboWafflz">GitLab</a></li>
						<li><a class="dropdown-item" href="//turbowafflz.itch.io">Itch</a></li>
						<li><a class="dropdown-item" href="//www.linkedin.com/in/finian-wright-654055230/">Linkedin</a></li>
						<li><a class="dropdown-item" href="//turbowafflz.gitlab.io">TurboWafflz</a></li>
						<!-- <li><hr class="dropdown-divider"></li> -->
						<!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
					</ul>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				</li> -->
			</ul>
			<form class="d-flex">
				<!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button> -->
			</form>
		</div>
	</div>
</nav>